<div class="col-md-4 offset-md-4 mt-5">
  <form #loginForm='ngForm'>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" #email='ngModel'ngModel
           class="form-control" required email minlength="10">
           <div *ngIf='email.touched && email.invalid'>
              <div *ngIf='email.errors.required'>
                   This field is mandatory
                  </div>
                  <div *ngIf='email.errors.minlength'>
                   This field accepts minimum 10 characters
                  </div> 
                  <div *ngIf='email.errors.email'>
                      This field accepts only email
                     </div> 
           </div>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" #password='ngModel' ngModel 
          class="form-control" required minlength="8"
           ng-pattern="^(?=.[A-Za-z])(?=.\d)(?=.[$@$!%#?&])[A-Za-z\d$@$!%*#?&]{8,}">
    <div ng-message="pattern" class="text-danger">Password should be atleast 8 characters long</div>
  </div>
      
      <button class="btn btn-primary float-right" type="submit" 
      (click)='submitForm(loginForm)' [disabled]='loginForm.invalid'>Submit</button>
  </form>
</div>