<div style=" padding :20px 100px 10px 100px; ">
    <div class="container">
    <div class="row">
      <div class="col-sm-4">
   
    
    <div class="card mr-2 d-inline-block shadow-lg" style="width:250px">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/02/18/20/iron-man-704086__340.jpg" alt=" image" style="width:100%">
      <h2 style="text-align: center;">PRASANT M</h2>
      <div class="card-body">
   
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
        Some example text some example text. John Doe is an architect and engineer
      </p>
       
      </div>
    </div>
  </div>  
  <div class="col-sm-4" >
   
   
    <div class="card mr-2 d-inline-block shadow-lg" style="width:250px">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/10/18/58/super-hero-1132272__340.jpg" alt=" image" style="width:100%">
      <h2 style="text-align: center;">RAVI S</h2>
      <div class="card-body" >
         
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
        Some example text some example text. John Doe is an architect and engineer
      </p>
       
      </div>
    </div>
  </div>  
  <div class="col-sm-4">
    
    
    <div class="card mr-2 d-inline-block shadow-lg" style="width:250px">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/10/19/03/hulk-1132281__340.jpg" alt=" image" style="width:100%">
      <h2 style="text-align: center;">PRANEET M</h2>
      <div class="card-body">
        
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
        Some example text some example text. John Doe is an architect and engineer
      </p>
       
      </div>
    </div>
  </div>  
  </div>
  </div>
  </div>
